*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.toolbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
}
.toolnav ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
.toolnav a{
    text-decoration: none;
    color: #000000;
}
.toolnav a:hover{
    color: #0a3894;
}